# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Editor
# .vscode/ dikecualikan dari ignore agar settings.json ter-track
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files (pilih salah satu sesuai package manager)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
